NEXT_PUBLIC_SUPABASE_URL=https://zzbijoxbdhupzgxqzdri.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_KOOr8Tl3Tf17G0r28GoUTg_yYoAC0hc
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp6Ymlqb3hiZGh1cHpneHF6ZHJpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTAwOTAyNTAsImV4cCI6MjEwNTY2NjI1MH0.EINMvTzk4fi7Jx3AgGrud5qwNmk0F6C4CbVjCbMwbBc
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp6Ymlqb3hiZGh1cHpneHF6ZHJpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc5MDA5MDI1MCwiZXhwIjoyMTA1NjY2MjUwfQ.74lOTBb--IAqf5SaTCyYYBF5ckOun3PTxMporSOJE5M
NEXT_PUBLIC_APP_URL=http://localhost:3000
AI_BACKEND_URL=http://localhost:8000
